.option {
    line-height: 200px;
    color: #ececec;
    cursor: pointer;
    font-weight: 700;
    font-size: 30px;
}

.product {
    line-height: 150px;
    border-radius: 5px;
    background-color: #FF7043;
    color: #ececec;
    cursor: pointer;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
}

.alert .left {
    float: right;
}

.alert .left .item {
    display: inline-block;
}

.alert .left .item button {
    cursor: pointer;
}

.text-center {
    text-align: center;
}